.row,
.chatBox {
  min-height: 500px;
}

#messageArea {
  min-width: 500px;
}

#pref {
  margin-left: 100px;
}

#text {
  margin-left: 10px;
}

/*Checkbox Changes*/

.dark {
    background-color: darkgrey;
    color: white;
}​

.fark {
  font-size: 20px;
}
