.row,
.chatBox {
  min-height: 500px;
}

#messageArea {
  min-width: 450px;
}

#pref {
  margin-left: 100px;
}

#text {
  margin-left: 10px;
}

/*Checkbox Changes*/

.dark {
    background-color: #767676;
    color: white;
}​
