.scott-mode {
  background: url('http://nashvillesoftwareschool.com/images/instructors/scott.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.row,
.chatBox {
  min-height: 500px;
}

#messageArea {
  min-width: 450px;
}

#pref {
  margin-left: 100px;
}

#text {
  margin-left: 10px;
}

/*Checkbox Changes*/

.dark {
    background-color: #767676;
    color: white;
}​


